<app-navigation></app-navigation>

<div class="app-back">
  <div class="app-container">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="footer  text-light py-3">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-6 text-center text-md-left mb-2 mb-md-0">
        &copy; 2025 E-commerce. All Rights Reserved.
      </div>

      <div class="col-md-6 text-center text-md-right">
        <span>Email: rayenzekri9@gmail.com | Phone: +216 00 000 000</span>
        <span class="social-icons ml-2">
          <a href="#" class="footer-social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="footer-social"><i class="fab fa-twitter"></i></a>
          <a href="#" class="footer-social"><i class="fab fa-instagram"></i></a>
        </span>
      </div>

    </div>
  </div>
</footer>
