.profile-card {
  width: 100%;
  max-width: 550px;
  margin: auto;
  background: white;
  border-radius: 15px;
  border: 1px solid #eee;
}

form input.form-control-lg {
  border-radius: 12px;
  padding: 14px;
}

.btn-primary {
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: 600;
}

h1 i {
  color: #0d6efd;
}

.profile-card small {
  margin-left: 5px;
}
