<h1 class="display-4 mb-5 text-center">{{title}}</h1>

<div class="product-grid">
  <div *ngFor="let productInfo of page?.content" class="product-card card" >
<!-- <div *ngIf="productInfo.productStatus === 0" class="product-card card"> -->
    <img class="product-img card-img-top"
         [src]="productInfo.productIcon"
         [alt]="productInfo.productName">

    <div class="card-body">
      <h5 class="card-title">{{productInfo.productName}}</h5>

      <p class="card-description">{{productInfo.productDescription}}</p>

      <div class="product-info">
        
<div class="product-info">
  <span><strong>Price:</strong> {{productInfo.productPrice | currency}}</span>
  <span *ngIf="productInfo.productStatus === 0">
    <strong>  Stock:</strong> {{productInfo.productStock}}
  </span>
</div>
      </div>

      <a routerLink="/product/{{productInfo.productId}}"
         *ngIf="productInfo.productStatus == 0; else offBlock"
         class="btn btn-warning btn-block mt-2 buy-btn">
        Get It!
      </a>

      <ng-template #offBlock>
        <button class="btn btn-secondary btn-block mt-2 disabled">Unavailable</button>
      </ng-template>
    </div>
  </div>
  </div>


<app-pagination [currentPage]="page"></app-pagination>
